* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================  SCROLL BAR  ======================== */

::-webkit-scrollbar {
  width: 0.76rem;
}
::-webkit-scrollbar-track {
  background: $back;
}
::-webkit-scrollbar-thumb {
  background: $lightgrey;
  border-radius: 100vw;
}

/* ==================  GLOBAL STYLES  ======================== */

body {
  line-height: 1.5;
  font-family: "Space Grotesk", sans-serif;
  color: $lightgrey;
  background-color: $primary;
}

h2 {
  letter-spacing: 0.1cm;
  font-size: 34px;
}

h3 {
  letter-spacing: 0.1cm;
  font-size: 24px;
}

h4 {
  letter-spacing: 0.1cm;
  color: $purple;
  margin-bottom: 1.77rem;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  color: $secondary;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: $secondary;
  text-transform: uppercase;
  font-size: 34px;
  margin: 1rem 0;
}

.titleColor {
  letter-spacing: 0;
  color: $lightgrey;
}

/* ==================  NAVIGATION STYLES  ======================== */

nav {
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
    color: $secondary;
    display: block;
    padding: 1rem;
    font-size: 18px;
    &:hover {
      color: $lightgrey;
    }
  }
  .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  .mainMenu {
    .closeMenu {
      font-size: 1.44rem;
      display: none;
      cursor: pointer;
    }
  }
  .resumeBtn {
    padding: 0.5rem;
    border-radius: 3px;
    font-size: 18px;
    color: $secondary;
    border: solid 1px $secondary;
    &:hover {
      color: $back;
      background-color: $secondary;
    }
  }
  .logo {
    width: 77px;
    cursor: pointer;
  }
}
.fixedMenu {
  overflow: hidden;
  position: fixed;
  background-color: $primary;
  top: 0;
  opacity: 0.9;
  width: 100%;
}
.icons {
  i {
    font-size: 1.44rem;
    display: none;
    cursor: pointer;
  }
}

/* ==================  FOOTER STYLES  ======================== */

footer {
  margin: auto;
  padding-top: 3rem;
  p {
    padding: 1rem;
    font-size: 14px;
    text-align: center;
    background-color: $back;
    color: $lightgrey;
  }
  i {
    color: $secondary;
  }
}
