/* ==================  FONT FAMILIES  ======================== */

@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

// $redressed : ;
$space: "Space Grotesk", sans-serif;

/* ==================  COLORS  ======================== */

$primary: #10152b;
$secondary: #00bfa6;
$white: #fff;
$black: #000;
$blue: #569fbf;
$back: #232949;
$purple: #9171af;
$grey: #404763;
$lightgrey: #adadad;
